@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

.loginTitle{
    font-family: "42dot Sans", serif;
    text-align: center;
    align-content: center;
    font-size: 30px;
    height: 100px;
    margin-bottom: 30px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    font-family: "42dot Sans", serif;
}

.input-group label {
    display: block;
    margin-left: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

.input-field:focus {
    border-bottom: 2px solid #007BFF;  /* 포커스 시 파란색 밑줄 */
}

.login-button {
    width: 100%;
    height: 50px;
    padding: 12px;
    background-color: #ccc;
    color: white;
    font-family: "42dot Sans", serif;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background-color: black;
}

.extra-links {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}

.registerButton{
    background: none;
    border: none;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.loginButton {
    background: none;
    border: none;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}


.passButton {
    background: none;
    border: none;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.loginButton{
    margin-right: 10px;
}

.link-button:hover {
    color: #333;
}

.registerButton {
    margin-right: auto;
}